:root {
    --clr_toparea: #e8f0f0;
    --clr_maintitletext: #202020;
    --clr_bodybg: #e0e0e0;
    --clr_border: 	#d9d9d9;
    --clr_menubar: 	#d9d9d9;
    --pad_menubar: 1px;
    --clr_buttonbg:  #e8f0f0;
    --clr_buttonbgsel:  rgb(175, 180, 183);
    --clr_buttonbgdis: gray;
    --clr_buttontext: #202020;
    --bor_butselect: none;
    --bor_butnormal: none;
    --bor_butdisable: none;
    --opacity_butdisable: 0.8;
    --clr_areatext: #202020;
    --clr_optpanelbg: rgb(249, 249, 249);
    --martop_msgAreaDiv: 15px;
    --pad_msgAreaDiv: 15px;
}
