:root {
    --clr_maintitletext: #202020;
    --clr_bodybg: #e0e0e0;
    --clr_border : 	#d9d9d9;
    --clr_buttonbg :  #e8f0f0;
    --clr_buttonbgsel :  rgb(175, 180, 183);
    --clr_buttontext : #202020;
    --clr_areabg1: #e8f0f0;
    --clr_areatext : #202020;
    --clr_optpanelbg : rgb(249, 249, 249);
    --pad_menubar : 1px;
    --martop_msgAreaDiv : 15px;
    --pad_msgAreaDiv : 15px;
    --bor_butselect: none;
    --bor_butnormal: none;
}
